.filtros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1a1a1a;
    color: #b2f5f5;
    border-radius: 20px;
    padding: 20px;
}

.div-minprice , .div-categoria{
    display: flex;
    align-items: center;
    justify-content: center;
}