.filtros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secundary-color);
    color: var(--main-color);
    border-radius: 20px;
    padding: 20px;
}

.div-minprice , .div-categoria{
    display: flex;
    align-items: center;
    justify-content: center;
}