:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

a {
  font-weight: 500;
  color: #b2f5f5;
  text-decoration: none;
}
a:hover {
  color: #ffff;
}

li{
  list-style: none;
}



body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #b2f5f5;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;

}

/* *::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #1a1a1a;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.462);
  border-radius: 20px;
  border: 2px solid rgba(225, 225, 225, 0.19);
} */


.main-productos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}